<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- left side part Brand name -->
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Recipe Book</a>
        </div>

        <!-- alternate nav bar with hamburger icon -->
        <!-- <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
              <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
            </button>
            <a routerLink="/" class="navbar-brand">Recipe Book</a>
        </div>
        <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true"> -->

        <div class="collapse navbar-collapse">
            <!-- left side links -->
            <ul class="nav navbar-nav">
                <!-- ansolute path must specify here -->
                <li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
                <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping List</a></li>
            </ul>

            <!-- right side links -->
            <ul class="nav navbar-nav navbar-right">
                <!-- place dropdown as an attribute to element -->
                <li class="dropdown" appDropdown>
                    <!-- link to open dropdown -->
                    <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a style="cursor: pointer;" (click)="onSaveDataToBackend()">Save Data</a></li>
                        <li><a style="cursor: pointer;" (click)="onFetchDataFromBackend()">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>