<div class="row">
    <div class="col-xs-12">
        <!-- connect form with angular reactive form's directives -->
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <!-- form actions -->
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit" style="margin-right: 4px;">Save</button>
                    <button class="btn btn-danger" type="button">Cancel</button>
                </div>
            </div>
            <!-- name input field -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input id="name" type="text" class="form-control" [formControlName]="'name'">
                    </div>
                </div>
            </div>
            <!-- image url input field -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="imagePath">Image URL</label>
                        <input id="imagePath" type="text" class="form-control" formControlName="imagePath">
                    </div>
                </div>
            </div>
            <!-- image preview of selected image path above -->
            <div class="row">
                <div class="col-xs-12">
                    <img src="" class="img-responsive">
                </div>
            </div>
            <!-- description input field of recipe -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea id="description" type="text" class="form-control" rows="6" formControlName="description"></textarea>
                    </div>
                </div>
            </div>
            <!-- list of ingrediends of recipe -->
            <div class="row">
                <div class="col-xs-12" formArrayName="ingredients">
                    <div class="row" *ngFor="let ingredientControl of controls; let i = index" [formGroupName]="i" style="margin-top: 10px;">
                        <!-- ingredient name input field -->
                        <div class="col-xs-8">
                            <input type="text" class="form-control" formControlName="name">
                        </div>
                        <!-- ingredient amount input field -->
                        <div class="col-xs-2">
                            <input type="number" class="form-control" formControlName="amount">
                        </div>
                        <!-- button to delte selected ingredient -->
                        <div class="col-xs-2">
                            <button class="btn btn-danger">X</button>
                        </div>
                    </div>
                    <hr>
                    <!-- button to add new ingredient in FormArray -->
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-success" (click)="onAddIngredient()">Add Ingredients</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>