<div class="row">
    <div class="col-xs-10">
        <!-- pass ingredient obj from shopping-edit into shopping-list by event binding -->
        <app-shopping-edit (ingredientAdded)="onIngredientAdded($event)"></app-shopping-edit>
        <hr>
        <!-- list of shopping -->
        <ul class="list-group">
            <a class="list-group-item" style="cursor: pointer;" *ngFor="let ingredient of ingredients">
                {{ ingredient.name }} ({{ ingredient.amount }})
            </a>
        </ul>
    </div>
</div>