<div class="row">
    <div class="col-md-5">
        <!-- pass selected recipe coming from recipe list into recipes -->
        <app-recipe-list (selectedRecipeFromRecipeList)="selectedRecipeFromRecipeList = $event"></app-recipe-list>
    </div>
    <div class="col-md-7">
        <app-recipe-detail *ngIf="selectedRecipeFromRecipeList; else elsePart" [recipe]="selectedRecipeFromRecipeList"></app-recipe-detail>
        <ng-template #elsePart>
            <p>Please select a recipe from Recipe List</p>
        </ng-template>
    </div>
</div>